# Root ZFS dataset 
#root.zfs = zroot/jetpack

# Root mountpoint
#root.zfs.mountpoint = /var/jetpack

# Interface to use for jails (it has to be created before jetpack is used)
#jail.interface = lo1

# Prefix for jail names. Jail name will be ${PREFIX}${UUID}.
#jail.namePrefix = jetpack:

# Compression to used on stored and exported AMIs.
# Valid options are: xz (default), bzip2, gzip, none
#images.aci.compression = xz

# Optionally set other ZFS parameters for root dataset:
#root.zfs.PARAMETER = VALUE ...

# Default ZFS parameters for images dataset. You can add other
# parameters, change the defaults, or unset some of the defaults by
# setting them to an empty string.
#images.zfs.atime=off
#images.zfs.compress=lz4
#images.zfs.dedup=on

# ZFS parameters for containers dataset (none by default)
#containers.zfs.PARAMETER = VALUE ...
